body{
    padding:0;
    margin: 20px;
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius:100%;
    cursor: pointer;

}

.container{
    border: 10px solid rgb(33,37,41);
    padding: 0;
}